.holder{
	display: flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
}
/* .item{
	height: 50px;
	width: 50px;
	font-weight:600;
} */

.item-1{
	width:100px;
	height:100px;
	background:red;
	font-weight:700;
	font-size:40px;
}
.item-2{
	width:100px;
	height:100px;
	background:blue;
	font-weight:700;
	font-size:40px;
}
.item-3{
	width:100px;
	height:100px;
	background:green;
	font-weight:700;
	font-size:40px;
}

/* Your CSS Code here. */